body {
  background-color: #f0f0f0;  /* Stel de gewenste kleur in, bv. lichtgrijs */
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff6600;
}

ul {
  list-style-type: none;
  padding-left: 0;
}